@{
  Layout = "_Layout";
}

<h1>Welcome to Doctor Office!</h1>

<p>@Html.ActionLink("See all Patients", "Index", "Patients")</p> 
<p>@Html.ActionLink("See all Doctors", "Index", "Doctors")</p>



@* <p>@Html.ActionLink("See all Doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("Add new Doctors", "Create", "Doctors")</p> *@