@{
  Layout = "_Layout";
}

<h1>Welcome to Doctor Office!</h1>

<h5 class="pageLink">@Html.ActionLink("Specialty List", "Index", "Specialties")</h5>


@* <h5>@Html.ActionLink("Add Specialty", "Create", "Specialties")</h5> *@


<h5 class="pageLink">@Html.ActionLink("Doctors List", "Index", "Doctors")</h5>

<h5 class="pageLink">@Html.ActionLink("Patients List", "Index", "Patients")</h5>
