@{
  Layout = "_Layout";
}

<h1>Welcome to Doctor Office!</h1>

<h5>@Html.ActionLink("Specialty List", "Index", "Specialties")</h5>


@* <h5>@Html.ActionLink("Add Specialty", "Create", "Specialties")</h5> *@


<p>@Html.ActionLink("Doctors List", "Index", "Doctors")</p>

<p>@Html.ActionLink("Patients List", "Index", "Patients")</p>
