@{
  Layout = "_Layout";
}

@using Office.Models;
@model List<Office.Models.Patient>;

<h1>Patients</h1>

@if (@Model.Count == 0)
{
  <h3>No Patient have been added yet!</h3>
} 

<h4>Click on Patient name to see Details</h4>
@foreach (Patient patient in Model)
{
  <li>@Html.ActionLink($"{patient.PatientName}", "Details", new { id = patient.PatientId })</li>
}

<h5>@Html.ActionLink("Add Patient", "Create")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>
